@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.canvas-container {
  margin: 0 auto;
}

[data-protected] canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;
}

[data-protected] img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}